.prices {
  padding: 84px 0;

  background-image: url(../images/prices/prices.png), linear-gradient(#111319, #111319);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;

  @include retina {
    background-image: url(../images/prices/prices@2x.png), linear-gradient(#111319, #111319);
  }

  @include breakpoint(tablet) {
    padding: 100px 0;

    background-image: url(../images/prices/prices-tabl.png), linear-gradient(#111319, #111319);

    @include retina {
      background-image: url(../images/prices/prices-tabl@2x.png), linear-gradient(#111319, #111319);
    }
  }

  @include breakpoint(desktop) {
    padding: 120px 0;

    background-image: url(../images/prices/prices-desk.png), linear-gradient(#111319, #111319);

    @include retina {
      background-image: url(../images/prices/prices-desk@2x.png), linear-gradient(#111319, #111319);
    }
  }

  &__title {
    margin-bottom: 44px;

    font-size: 40px;
    line-height: 1.18;

    color: getColor('primary-bg-color');

    @include breakpoint(tablet) {
      font-size: 42px;
      line-height: 1.17;
    }
  }

  &__wrapper {
    margin-bottom: 44px;

    @include breakpoint(mobile-max) {
      padding: 30px 20px 30px 40px;
    }

    @include breakpoint(tablet-max) {
      background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
    }

    @media screen and (min-width: $tablet) and (max-width: 1199.98px) {
      padding: 32px 27px 32px 40px;
    }

    @include breakpoint(desktop) {
      display: flex;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include breakpoint(desktop) {
      padding: 30px 22px 30px 20px;

      flex-basis: calc((100% - $indent * ($item - 1)) / $item);

      background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
    }
  }

  &__list:not(:last-child) {
    @include breakpoint(tablet-max) {
      margin-bottom: 20px;
    }
    @include breakpoint(desktop) {
      margin-right: 30px;

      background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
    }
  }

  &__item {
    @include flex(flex, space-between, baseline);

    &::after {
      margin: 0 4px;
      flex-grow: 1;
      content: '';
      height: 1px;
      background-color: rgba(157, 164, 189, 0.12);

      @include breakpoint(tablet) {
        margin: 0 12px;
      }
    }
  }

  &__text {
    display: flex;
    font-size: 14px;
    line-height: 1.43;

    color: getColor('secondary-text-color');

    @include breakpoint(tablet) {
      font-size: 18px;
      line-height: 1.67;
    }
  }

  &__text:last-child {
    order: 1;
  }

  &__btn {
    display: flex;
    margin: 0 auto;

    @extend %btn;

    color: getColor('primary-bg-color');

    transition: background-color $transition-duration $timing-function;

    &:hover,
    &:focus {
      background-color: getColor('accent-color');
    }
  }
}
